<div class="signup">
  <div class="row">
    <div class="underline">
      <h2>Signup</h2>
    </div>
  </div>
  <form class="row" action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
    
    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="firstname">First Name:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <input id="firstname" type="text" name="firstname" placeholder="Peter">
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="lastname">Last Name:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <input id="lastname" type="text" name="lastname" placeholder="Parker">
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="birthday">Birth Date:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <input id="birthday" type="date" name="birthday" placeholder="10/08/1962">  
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="email">Email Address:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <input id="email" type="text" name="email" placeholder="spidey@web.com">    
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="username">Nickname:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <input id="username" type="text" name="username" placeholder="Spiderman">
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="password">Password:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <input id="password" type="password" name="password" placeholder="**********">
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="aboutme">About me:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <textarea name="aboutme" cols="40" rows="5" placeholder="Fotographer at day, superheroe at night"></textarea>
    </div>
    <div class="col-sm-12 photo">
      <label for="photo" class="btn btn-light">Upload Photo</label>
    </div>
    <div class="col-sm-12">
      <input id="photo" type="file" name="photo" style="display:none">
    </div>
    {{#if message }}
    <div class="col-sm-12">
      <div class="alert alert-danger error-message" role="alert">{{message}}</div>
    </div>
    {{/if}}
    <div class="col-sm-6">
      <button type="submit" class="btn btn-dark">Create Account</button>
    </div>
    <div class="col-sm-6 login-adv">
      <p class="account-message">
        Have an account?
        <a class="btn btn-white" href="/auth/login">Log In</a>
      </p>
    </div>
  </form>
</div>
