<div class="row blue-line"></div>
<div class="row white-line"></div>
<div><h2>Special thanks to <a href="https://comicvine.gamespot.com/" target="_blank" rel="noopener noreferrer">Comic Vine API</a></h2></div>