<div class="row black-line"></div>
<div class="row blue-line"></div>
<div class="navbar-cont">
  <nav class="navbar navbar-expand-sm">
    <div>
      <a class="navbar-brand" href="/">
        <div class="navbar-photo" style="height:110px;width:110px;background:url(http://res.cloudinary.com/jmbarcelo/image/upload/v1524758502/logo2.png) no-repeat center / cover"></div>
      </a>
    </div>
    <ul class="list-inline right">
      {{#if user }}
      <li class="list-inline-item">
        <a href="/lists">My lists</a>
      </li>
      <li class="list-inline-item">
        <a href="/reviews">My reviews</a>
      </li>
      <li class="list-inline-item">
        <a href="/comments">Comments</a>
      </li>
      <li class="list-inline-item">
        <a href="/private/user">
          <div class="navbar-photo" style="height:60px;width:60px;background:url({{user.photo.secure_url}}) no-repeat center / cover"></div>
        </a>
      </li>
      <li class="list-inline-item dropdown">
        <a href="#" id="dropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Baja</a>
        <div class="dropdown-menu" aria-labelledby="dropDown">
          <a class="dropdown-item" href="/private/edit">Edit Profile</a>
          <a class="dropdown-item" href="/auth/logout">Logout</a>
        </div>
      </li>
      {{else}}
      <div class="row log-sign">
        <div class="col-sm-5">
          <li class="list-inline-item">
            <a class="btn btn-dark" href="/auth/login">Log In</a>
          </li>
        </div>
        <div class="col-sm-1">
          <p>or</p>
        </div>
        <div class="col-sm-5">
          <li class="list-inline-item">
            <a class="btn btn-light" href="/auth/signup">Sign Up</a>
          </li>
        </div>
      </div>

      {{/if}}
    </ul>
  </nav>
</div>