<div class="navbar-cont">
  <nav class="navbar navbar-expand-sm">
    <div>
      <a class="navbar-brand" href="/">
        <img src="http://res.cloudinary.com/jmbarcelo/image/upload/v1524758502/logo2.png" alt="{{title}}">
      </a>
    </div>
    <ul class="list-inline right">
      {{#if user }}
      <li class="list-inline-item">
        <a href="/lists">My lists</a>
      </li>
      <li class="list-inline-item">
        <a href="/reviews">My reviews</a>
      </li>
      <li class="list-inline-item">
        <a href="/comments">Comments</a>
      </li>
      <li class="list-inline-item">
        <a href="/private/user"><div class="navbar-photo" style="height:60px;width:60px;background:url({{user.photo.secure_url}}) no-repeat center / cover"></div></a>
      </li>
      <li class="list-inline-item dropdown">
        <a href="#" id="dropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Baja</a>
        <div class="dropdown-menu" aria-labelledby="dropDown">
          <a class="dropdown-item" href="/private/edit">Edit Profile</a>
          <a class="dropdown-item" href="/auth/logout">Logout</a>
        </div>
      </li>
      {{else}}
      <li class="list-inline-item">
        <a href="/auth/login">Log In</a>
      </li>
      <p>or</p>
      <li class="list-inline-item">
        <a href="/auth/signup">Sign Up</a>
      </li>
      {{/if}}
    </ul>
  </nav>
</div>