<div class="row index">
  <div class="col-sm-6">
    <img class="logo-img" src="http://res.cloudinary.com/jmbarcelo/image/upload/v1524758502/logo2.png" alt="{{title}}">
  </div>
  <div class="col-sm-6 wellcome">
    <h1>Wellcome<br>{{#if user }}<span class="user-name">{{user.username}}</span><br>{{/if}}to {{title}}</h1>
  </div>
</div>