body {
  font: 16px "Roboto", Helvetica, Arial, sans-serif;
  background: $darker url("http://res.cloudinary.com/jmbarcelo/image/upload/q_auto:low/v1524735641/Iron-Comics/comic-pattern.jpg") center / contain;
}

.row {
  margin: 10px 0;
}

a {
  color: $darker;
  &:hover {
    text-decoration: none;
    color: #2081C3;
  }
}

ul {
  margin-bottom: 0;
}

li {
  vertical-align: middle;
}

img {
  max-width: 100%;
  max-width: 100%;
}

.btn-light {
  background: #2081C3;
  border-color: #2081C3;
  &:hover {
    background: #0A2C42;
    color: #2081C3;
  }
}
.btn-dark {
  color: #2081C3;
  background: #0A2C42;
  &:hover {
    background: #2081C3;
    color: #0A2C42;
  }
}
.btn-white {
  color: #F7F9F9;
  background: #2081C3;
  &:hover {
    background: #F7F9F9;
    color: #2081C3;
  }
}