.container {
  margin-top: 76px;
  font-size: 1rem;
  max-width: 80%;
  min-height: calc(100vh - 76px - 68px);
  padding: 40px;
  text-align: justify;
  color: #0A2C42;
  background-color: rgba($color: #F7F9F9, $alpha: 0.7);
  
  //display: flex;
  //align-items: center;
}

.profile-photo{
  height: 200px;
  width: 200px;
  border-radius: 0.2rem;
  margin: auto;
}

.index {
  text-align: center;
}