.container {
  margin-top: 196px;
  font-size: 1rem;
  max-width: 80%;
  min-height: calc(100vh - 196px - 100px);
  padding: 24px 20px 4px 20px;
  text-align: justify;
  color: $darker;
  background-color: rgba($color: #F7F9F9, $alpha: 0.7);
  display: flex;
}

h1 {
  font-size: 2.7rem;
  margin: 0 auto;
}

.profile-photo{
  height: 200px;
  width: 200px;
  border-radius: 0.2rem;
  margin: auto;
}

.index {
  text-align: center;
  margin: auto 0;
  width: 100%;
}

.wellcome {
  display: flex;
  align-items: center;
}

.signup, .login {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  
  .underline {
    margin: auto;
    border-bottom: #2081C3 1px solid;
    width: 50%;
    display: flex;
    justify-content: center;
    h2 {
      font-size: 2.5rem;
    }
  }
  .col-sm-6{
    padding: 5px 0;
  }
  .col-md-8 {
    margin-bottom: 10px;
  }
  label, p {
    margin-bottom: 0;
  }
  label {
    display: inline-flex;
    vertical-align: sub;
    text-transform: uppercase;
  }
  input, textarea {
    -webkit-appearance: textfield;
    width: 90%;
  }
  textarea {
    border: transparent;
  }
  .btn {
    font-size: 1.5rem;
    margin: 10px;
  }

.photo {
  display: flex;
  justify-content: center;
}
  .login-adv, .signup-adv {
    color: #F7F9F9;
    background: rgba($color: #0A2C42,$alpha: 0.9);
    border-radius: .25rem;
    p {
      margin-bottom: 0; 
    }
  }
  .center {
    margin: auto;
  }
  .alert-danger {
    color: #f5c6cb;
    background-color: #721c24;
    border-color: #f5c6cb;
    margin-top: 10px;
  }
}