<div class="create-review">
  <div class="row">
    <div class="col-sm-12 underline">
      <h2>Create review</h2>
    </div>
  </div>
  <form class="row" action="/reviews/create" method="post">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="text">Review:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <textarea name="text" cols="40" rows="5"></textarea>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="">Comic:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <select name="name">
        <option value="" selected="selected">- SELECT -</option>
        {{#each listTitle}}
        <option value="{{this.id}}">{{this.title}}</option>
        ยก {{/each}}
      </select>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <label for="">Rating:</label>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6">
      <input type="range" name="value" min="0" max="100" value="">
    </div>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-dark">Create review</button>
    </div>
    <div class="col-sm-6">
        <a href="/reviews" class="btn btn-light" role="button">Back to reviews</a>
    </div>
  </form>
</div>