{{#if comic}}
<div class="row comics">
  <div class="col-sm-12">
    <div class="title">
      <h2>{{comic.title}}</h2>
    </div>
  </div>
</div>
<div class="row comics">
  <div class="col-sm-12">
    <img src={{comic.img_medium}} alt="">
  </div>
</div>
{{else}}
<h4 class="no-object">No description</h4>
{{/if}}
<div class="row">
  <div class="col-sm-12 comic-list">
    <a href="/lists" class="btn btn-light" role="button">Back to my lists</a>
  </div>
</div>